<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <style>
            footer{
                height: 40px;
                line-height: 40px;
                font-size: 15px;
                color: #6c6c6c;
                padding: 0 50px;
                background: #e3e9f1;
            }
            footer li {
                list-style: none;
                float: left;
            }
        </style>
    </head>
    <body>
        <footer>
            <ol>
                <li>&copy;2020 GengYB版权所有</li>
            </ol>
        </footer>
    </body>
</html>