<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/lib/css/element-ui.css}">
        <style>
            .header-container{
                padding: 0 50px;
                height: 40px;
                font-size: 12px;
                color: #6c6c6c;
                line-height: 40px;
                border-bottom: #d7dee8 1px solid;
            }
            .header-container > a{
                padding: 0 10px;
                float: left;
                color: inherit;
                text-decoration: none;
                line-height: 40px !important;
            }
        </style>
    </head>
    <body>
        <div>
            <header class="header-container">
                <a th:if="not ${session.user}" th:href="@{/login}" style="color: #f22e00">亲，请登录</a>
                <a th:if="not ${session.user}" th:href="@{/signUp}">免费注册</a>
                <a th:if="${session.user}" th:href="@{/user/info}" th:text="'欢迎，'+${session.user.nickName}"></a>
                <a th:if="${session.user}" th:href="@{/logout}">退出登录</a>
                <a th:href="@{/goCart}" class="el-icon-shopping-cart-1" style="float: right">我的购物车</a>
            </header>
        </div>
    </body>
</html>