<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>订单详情</title>
        <link th:href="@{/lib/css/element-ui.css}" rel="stylesheet" />
        <style>
            body{
                margin: 0;
            }
            #app {
                width: 1000px;
                margin: 10px auto 0 auto;
            }
        </style>
    </head>
    <body>
        <div th:insert="~{header}"></div>
        <div id="app">
            <div class="">
                <el-table
                        :data="tableData"
                        style="width: 100%">
                    <el-table-column
                            prop="img"
                            label=""
                    >
                        <template slot-scope="scope">
                            <img :src="scope.row.goodsImgUrl" alt="" width="100px">
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="goodsName"
                            label="商品"
                            width="300"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="goodsNo"
                            label="商品编号"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="originPrice"
                            label="原价">
                    </el-table-column>
                    <el-table-column
                            prop="secondsKillPrice"
                            label="秒杀价">
                    </el-table-column>
                    <el-table-column
                            prop="count"
                            label="商品数量">
                    </el-table-column>
                    <el-table-column
                            prop="status"
                            label="状态">
                    </el-table-column>
                </el-table>
            </div>
        </div>
        <div th:insert="~{footer}"></div>
    </body>
    <script th:src="@{/lib/js/axios.min.js}"></script>
    <script th:src="@{/lib/js/vue.js}"></script>
    <script th:src="@{/lib/js/element-ui.js}"></script>

    <script th:inline="javascript">
        //<![CDATA[
        new Vue({
            el: '#app',
            data: function(){
                return {
                    tableData:[{
                        goodsImgUrl:[[${goods.goodsImg}]],
                        goodsName:[[${order.goodsName}]]+[[${goods.goodsTitle}]],
                        goodsNo:[[${order.goodsId}]],
                        originPrice:[[${goods.goodsPrice}]],
                        secondsKillPrice:[[${order.goodsPrice}]],
                        count:[[${order.goodsCount}]],
                        status:this.toStatus([[${order.status}]])
                    }]
                }
            },
            methods: {
                toStatus:function (s){
                    //0 未支付，1已支付，2已发货，3已收货，4已退款，5已完成
                    switch (s) {
                        case 0:return "未支付";
                        case 1:return "1已支付";
                        case 2:return "2已发货";
                        case 3:return "3已收货";
                        case 4:return "4已退款";
                        case 5:return "5已完成"
                    }
                    return "未知";
                },
                addZero:function(i) {
                    return i < 10 ? "0" + i: i + "";
                },
                countDown:function () {
                    var d = parseInt(this.remainSeconds / (24*60*60))
                    var h = parseInt(this.remainSeconds / (60 * 60) % 24);
                    var m = parseInt(this.remainSeconds / 60 % 60);
                    var s = parseInt(this.remainSeconds % 60);
                    d = this.addZero(d)
                    h = this.addZero(h);
                    m = this.addZero(m);
                    s = this.addZero(s);
                    this.remainTime = d+'天'+h+'时'+m+'分'+s+'秒';
                    this.remainSeconds-=1;
                    if(this.remainSeconds === 0) {
                        clearInterval(this.timer);
                    }
                },
                secondsKill:function (){
                    let param = "goodsId="+this.goodsId
                    axios.post("/secondsKill",param)
                        .then(function (response) {
                            let data = response.data;
                            if (data && data.code === 200) {
                                window.location.href = "/order?id="+data.data.id
                            }else {
                                alert(data.msg)
                            }
                        })
                        .catch(function (error) {
                            if (error.response) {
                                if(error.response.status === 403){
                                    alert("请先登录！")
                                    window.location.href="/login"
                                }
                            }else {
                                alert("秒杀失败，请稍后重试！")
                            }
                        });
                }
            },
            mounted:function () {
                this.timer = setInterval(this.countDown, 1000);
            }
        })
        //]]>
    </script>

</html>