<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/*@thymesVar id="title" type=""*/-->
        <title th:text="${title}"></title>
        <!-- 引入样式 -->
        <link th:href="@{/lib/css/element-ui.css}" rel="stylesheet">
        <style>
            #app {
                width: 500px;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <el-main>
            <form method="post" th:action="@{/doSignUp}">
                <label>
                    用户名
                    <el-input v-model="nickName" placeholder="请输入用户名"></el-input>
                </label>
                <label>
                    手机号
                    <el-input v-model="phone" placeholder="请输入手机号码"></el-input>
                </label>
                <label>
                    密码
                    <el-input v-model="password" show-password placeholder="请输入密码"></el-input>
                </label>
                <label>
                    确认密码
                    <el-input v-model="secPassword" show-password placeholder="请确认密码"></el-input>
                </label><br>
                <p style="color: red">{{msg}}</p>
                <el-link type="primary" th:href="@{/login}">已有账号?去登录</el-link>
                <br>
                <el-button @click="signUpValidate() && signUp()">注册</el-button>
            </form>
            </el-main>
        </div>
    </body>
    <script th:src="@{/lib/js/axios.min.js}"></script>
    <script th:src="@{/lib/js/vue.js}"></script>
    <script th:src="@{/lib/js/element-ui.js}"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                nickName:'',
                phone:'',
                password:'',
                secPassword:'',
                msg:''
            },
            methods: {
                signUpValidate: function(){
                    if(this.nickName.trim() === ''){
                        this.msg = '用户名不能为空!';
                        return false;
                    }
                    if(this.phone.trim() === ''){
                        this.msg = '手机号不能为空!';
                        return false;
                    }
                    let phoneReg = /^1[35789]\d{9}$/;
                    if(!phoneReg.test(this.phone.trim())){
                        this.msg = '手机号不合法!';
                        return false;
                    }
                    if(this.password.trim() === ''){
                        this.msg = '密码不能为空,且不能包含空格!';
                        return false;
                    }
                    if(this.secPassword.trim() === ''){
                        this.msg = '请再次输入密码!';
                        return false;
                    }
                    if(this.secPassword !== this.password){
                        this.msg = '两次输入密码不一致!';
                        return false;
                    }
                    return true;
                },
                signUp: function () {
                    this.msg = '';
                    let p = {
                        'nickName':this.nickName,
                        'phone':this.phone,
                        'password':this.password,
                    }
                    let self = this;
                    axios.post("/doSignUp",p)
                        .then(function (response) {
                            let data = response.data;
                            if(data && data.code===200)
                                self.msg = '注册成功!';
                            else
                                self.msg = data.msg;
                            console.log(response);
                        })
                        .catch(function (error) {
                            self.msg = '注册失败!';
                        });
                }

            }
        })
    </script>
</html>